src/main/mule/hello-world-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3a0e9664-5a00-464c-a489-aa3a11aaacd9" >
		<http:listener-connection host="0.0.0.0" port="8082" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="hello.jks" keyPassword="hello123" password="hello123"/>
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<flow name="hello-world-apiFlow" doc:id="e7e8fba9-ab7d-4eb9-ba8b-6309cfc43416" >
		<http:listener doc:name="Listener" doc:id="ca3788af-5acb-4c32-bf70-496064835ae5" config-ref="HTTP_Listener_config" path="hello" outputMimeType="application/json">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-payload value="#['Hello World!']" doc:name="Set Payload" doc:id="efbc13e1-e7b8-43ba-be3b-cbb7616647b3" />
	</flow>
</mule>
